@import "tailwindcss";

/* colors
dark          light         function
stone-800   : stone-300   : bg
neutral-300 : neutral-950 : normal text
neutral-500 : darker text
amber-400   : neutral-500 : bright text
amber-800   : amber-800   : dark angry text (errs)
orange-500  : orange-500  : bold happy text (box shadows)
red-700     : red-700     : very angry text (super errs)
emerald-600 : emerald-600 : weird text
*/

@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
  display: none !important;
}
